@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
	font-family: 'Roboto', sans-serif;
	background-color: #f5f5f5;
	color: #333;
}

h1,
h2,
h3 {
	font-weight: 700;
}

p {
	font-weight: 400;
}
